<div class="body">
    <section class="container">
      <header>Registration Form</header>
      <form class="form" [formGroup]="mainForm" (ngSubmit)="maindata()">
        <label>Mr./Mrs.</label>
        <div class="select-box">
          <select name="dropdown" formControlName="dropdown" [(ngModel)]="dropdownNg">
            <option value="">Please Select</option>
            <option value="mr">Mr.</option>
            <option value="mrs">Mrs.</option>
          </select>
          <span style="color: red" *ngIf="dropdownVali && dropdownVali.invalid && dropdownVali.touched">Invalid Selector</span>



        </div>
  
        <div class="input-box">
          <label>First Name</label>
          <input type="text" placeholder="Enter First name" formControlName="firstname"/>
        </div>
        <span style="color: red" *ngIf="firstnameVali && firstnameVali.invalid && firstnameVali.touched">Invalid First Name</span>
    


  
        <div class="input-box">
          <label>Last Name</label>
          <input type="text" placeholder="Enter Last name" formControlName="lastname"/>
        </div>
        <span style="color: red" *ngIf="lastnameVali && lastnameVali.invalid && lastnameVali.touched">Invalid Last Name</span>



  
    <div class="input-box">
        <label>Email Address</label>
        <input type="text" placeholder="Enter email address" formControlName="email"/>
    </div>

    <span style="color: red" *ngIf="emailVali && emailVali.invalid && emailVali.touched">Invalid email</span>

    <div class="input-box">
      <label>Country</label>
      <div class="select-box">
        <select formControlName="country" (change)="onCountrySelect($event)"  [(ngModel)]="countryNg">
            <option value="">Country</option>
            <option *ngFor="let country of allCountries" [value]="country.value" >{{ country.desc }}</option>
        </select>
        <span style="color: red" *ngIf="countryVali && countryVali.invalid && countryVali.touched">Invalid Selector</span>
    

        </div>
  </div>


 

  
    <div class="column">

      <div class="input-box">
        <label>Country Code</label>
        <input type="text" placeholder="Country Code" formControlName="countrycode" [(ngModel)]="mobileCode"/>
        <span style="color: red" *ngIf="countrycodeVali && countrycodeVali.invalid && countrycodeVali.touched">Invalid Country Code</span>
      </div>

        <div class="input-box">
            <label>Phone Number</label>
            <input type="text" placeholder="Enter phone number" maxlength="10" minlength="10" formControlName="phone"/>
        </div>
        
    </div>
    <span style="color: red" *ngIf="phoneVali && phoneVali.invalid && phoneVali.touched">Invalid Phone</span>
    
     

  
        
  
        <div class="input-box address">
          <label>Address</label>
          <input type="text" placeholder="Enter street address" formControlName="address"/>
        </div>
        <span style="color: red" *ngIf="addressVali && addressVali.invalid && addressVali.touched">Invalid Address</span>



  
        
  
        <div class="gender-box">
          <div class="gender-option">
            <div class="gender">
            <input type="checkbox"  formControlName="checkbox"  (click)="checkBox()"/>
            <label for="check-male">Terms & Condition</label>
            </div>
          </div>
        </div>
  
        <div class="column">
          <button type="submit">Submit</button>
          <button type="button" (click)="reset()">Reset</button>
        </div>
      </form>
    </section>
  </div>
  



  
<table class="table">

    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Mr./Mrs.</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
        <th><input type="checkbox" (click)="disableAll($event)"></th>


    </tr>
    </thead>
    <tbody *ngFor="let user of data" [ngStyle]="{'pointer-events': isTableDisabled ? 'none' : 'auto', 'opacity': isTableDisabled ? 0.5 : 1}">
    <tr>
        <td [ngClass]="{ 'disabled-row': disabledRows[user.id] }">{{user.id}}</td>
        <td [ngClass]="{ 'disabled-row': disabledRows[user.id] }">{{user.dropdown}}</td>
        <td [ngClass]="{ 'disabled-row': disabledRows[user.id] }">{{user.FullName}}</td>
        <td [ngClass]="{ 'disabled-row': disabledRows[user.id] }">{{user.email}}</td>
        <td [ngClass]="{ 'disabled-row': disabledRows[user.id] }">{{user.Phone}}</td>
        <td [ngClass]="{ 'disabled-row': disabledRows[user.id] }">{{user.address}}</td>
        <td [ngClass]="{ 'disabled-row': disabledRows[user.id] }"><button  class="btn btn-danger" (click)="delete(user.id)">Delete</button></td>
        <td [ngClass]="{ 'disabled-row': disabledRows[user.id] }"><button  class="btn btn-success" (click)="edit(user)">Edit</button></td>
        <td><input type="checkbox" (click)="disableCheckboxClick($event, user.id)"></td>

    </tr>
</tbody>
</table>